flask
flask-cors
flask-limiter>=3.8.0
prometheus-client>=0.20.0
SQLAlchemy
python-dotenv
requests
psycopg2-binary>=2.9

# timelapse + preprocessing
numpy
pillow
opencv-python-headless
scikit-learn
pandas
